* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: chocolate;
}

#navigation-items {
    display: flex;
    justify-content: flex-end;
}

#navigation-items > a {
    padding: 1em;
    background-color: none;
}

#navigation-items > a:hover {
    background-color: orange;
    color: black;
}

#navigation-items > a > li {
    list-style-type: none;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: cadetblue;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

.subtitle {
    font-size: 1.25em;
    font-style: italic;
}

.welcome-subtitle {
    color: white;
}

#projects {
    text-align: center;
    padding: 2em;
    background-color: dimgray;
}

.projects-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 2em;
}

.projects-heading > h2 {
    max-width: 500px;
    padding-bottom: 4px;
    border-bottom: solid 4px white;
}

.project-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-tile {
    margin: 1em;
}

figcaption {
    background-color: cadetblue;
    padding: 0.5em;
    position: relative;
    top: -4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.code-hover {
    color: cadetblue;
    transition: color 0.25s ease-out;
}

.project-tile:hover .code-hover {
    color: orange;
}

#contact {
    padding: 2em;
    text-align: center;
    background-color: midnightblue;
}

#social-heading {
    margin-bottom: 3em;
    padding-top: 30px;
}

.social-subtitle {
    padding: 0.25em;
    font-size: 1em;
}

#social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-link {
    display: block;
    font-size: 24px;
    margin: 1em;
}

.social-link:hover {
    transform: translateY(-4px);
}

#disclaimers {
    text-align: center;
    padding: 1em;
    background-color: dimgray;
    border-top: solid 4px white;
}

@media (max-width: 930px) {
    #social-list {
        flex-direction: column;
        justify-content: space-between;
    }
}